header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #3A3B3C;
    
}

a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 38px;
    font-size: 20px;
    font-family: Work Sans;
}


#aSun{
    position: absolute;
    right: 10%;
}

#aLogo{
    position: absolute;
    left: 6%;
}

#primeiraSec{
    height: 735px;
    background-color: #242526;
}

#quadroMetricas{
    position: absolute;
    top: 300px;
    right: 50px;
}